body, html, #root, .app, .container {
  width: 100%;
  height: 100%;
}

.mer{
  position: absolute;
  text-align: left;
  padding-left: 64%;
  pointer-events: none;
  padding-bottom: 13%;
}

.container {
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}

.loginForm {
  box-sizing: border-box;
  width: 100%;
  max-width: 555px;
  padding-left: 20px;
  padding-right: 20px;
}

.inputField {
  padding-top: 16px;
}

.input {
  box-sizing: border-box;
  outline: none;
  border: solid 2px #1189de;
  border-radius: 4px;
  color: #292929;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
}

.submitButton {
  padding-top: 16px;
}

.btn {
  width: 100%;
  min-width: 280px;
  color: #565656;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  border: solid 2px #1189de;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
}

.btnL{
  position: absolute;
  margin-right: 100px;
  color: #565656;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  border: solid 2px #1189de;
  margin-top: -23%;
  margin-left: 47%;
  background: #fff;
  cursor: pointer;
}

.wins{
  text-align: center;
}

.div_grid{
  text-align: center;
  margin-top: 50px;
}

.sub_div{
  margin: auto;
}

.table_grid{
  text-align: center;
  width: 500px;
  border: 1px solid black;
  table-layout: fixed;
}

.td_square{
  overflow: hidden;
  width: auto;
  height: 25px;
  background-color: #20555d;
  color: red;
  border: 1px solid black;
}

.chat{
  position: absolute;
  color: white;
}